.label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  margin: 0;
  width: 100%;
}

.text:hover {
  cursor: pointer;
  color: rgb(181, 33, 33);
}

.toggle {
  cursor: pointer;
  margin: 1rem;
}

.completed {
  text-decoration: line-through;
}
